@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  padding: 0;
  margin: 0;
  background-color: #F6FFDE;
  color: #1F2326;
  font-size: 0.9em;
  /*стили футер*/
}

body .fortable {
  max-width: 950px;
}

body .htooltip span {
  /* Внешний вид нашего тултипа */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px 15px 0px 15px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left: -470px;
  margin-top: -75px;
  opacity: 0;
  /* Делаем его прозрачным */
  padding: 10px 10px 10px 40px;
  position: absolute;
  text-decoration: none;
  visibility: hidden;
  /* И прячем */
  width: 320px;
  z-index: 10;
}

body .htooltip:hover span {
  /* По hover отображаем тултип */
  opacity: 1;
  visibility: visible;
}

body .htooltip span img {
  /* Изображение для примера */
  border: 0 none;
  float: left;
  margin: 4px 0 0 -26px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

body .htooltip:hover span img {
  /* Показываем изображение */
  opacity: 1;
  visibility: visible;
}

body .table-success {
  background-color: rgba(173, 255, 47, 0.7);
}

body .table-danger {
  background-color: rgba(255, 140, 0, 0.7);
}

body .table-warning {
  background-color: rgba(255, 255, 0, 0.7);
}

body .big-txt {
  font-size: 1.2em;
}

body .loginpass {
  background-color: #E1FFB0;
}

body .btn-light {
  background-color: rgba(153, 120, 67, 0.3);
}

body .btn-light:hover {
  background-color: rgba(153, 120, 67, 0.2);
}

body .btn-link {
  color: #997843;
  text-decoration: none !important;
}

body .btn-link:hover {
  text-decoration: underline !important;
  color: #997843 !important;
}

body .btn-primary {
  background-color: rgba(153, 120, 67, 0.7);
  border-color: rgba(153, 120, 67, 0.7);
}

body .btn-primary:hover {
  background-color: #997843;
  border-color: rgba(153, 120, 67, 0.9);
}

body section {
  background-color: #F6FFDE;
}

body .b-myprofile .search-form {
  background-color: rgba(225, 255, 176, 0.6);
}

body a {
  color: #997843;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
  color: #997843;
}

body .page-link {
  color: #997843;
}

body .page-link:hover {
  color: #997843;
}

body h1, body h2, body h3 {
  color: #997843;
}

body .breadcrumb {
  background-color: #F6FFDE;
}

body .b-header {
  background-color: #E1FFB0;
}

body .b-header .social a {
  text-align: center;
  width: 40px;
  height: 40px;
  float: left;
  background: #F6FFDE;
  border: 1px solid black;
  border-radius: 6px;
  padding: 3px;
  color: #000;
}

body .b-header .facebook a:hover {
  background: #3b5998;
  color: #fff;
  border-radius: 5px;
}

body .b-header .vk a:hover {
  background: #5d84ae;
  color: #fff;
  border-radius: 5px;
}

body .b-header .instagram a:hover {
  color: #fff;
  border-radius: 5px;
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

body .navigation-menu {
  background-color: #997843;
}

body .navigation-menu .nav-item .nav-link {
  color: #F6FFDE;
  text-decoration: none;
  font-size: 1em;
  font-weight: lighter;
}

body .navigation-menu .nav-item:hover {
  background-color: #F6FFDE;
}

body .navigation-menu .nav-item:hover > a:hover {
  color: #1F2326;
}

body .nav-pills .nav-item .active {
  background-color: rgba(153, 120, 67, 0.8);
}

body .btn-icon {
  padding: 0;
}

body .btn > .icon {
  position: relative;
  display: inline-block;
  padding: .375rem .75rem;
}

body #topNubex {
  position: fixed;
  right: 45px;
  bottom: 45px;
}

body #topNubex:hover {
  cursor: pointer;
}

body footer {
  background-color: #E1FFB0;
}

body footer .cont-footer a {
  text-decoration: none;
  color: #1F2326;
}

body footer .cont-footer a:hover {
  color: #997843;
  text-decoration: underline;
}

body footer .cont-footer .headline {
  color: #997843;
}

body footer .cont-footer .block1 {
  padding-top: 10px;
}

body footer .cont-footer .block1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .cont-footer .block1 > div > img {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

body .first-column-mobile {
  display: none;
}

@media (min-width: 0) and (max-width: 576.98px) {
  body .fortable {
    max-width: 400px !important;
  }
  body .colors {
    width: 100% !important;
  }
  body .edpos .card {
    width: 100% !important;
  }
  body .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-column;
            flex-direction: flex-column;
  }
  body .first-column-mobile {
    display: block;
  }
  body .first-column {
    display: none;
  }
  body .top-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .top-btns .addsmth {
    margin: 3% 0 !important;
  }
  body .cont-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-left: 34%;
  }
  body .b-finance .card {
    width: 100%;
  }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
  body .fortable {
    max-width: 570px !important;
  }
  body .edpos .card {
    width: 49% !important;
  }
  body .colors {
    width: 49% !important;
  }
  body .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-column;
            flex-direction: flex-column;
  }
  body .first-column-mobile {
    display: block;
  }
  body .first-column {
    display: none;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  body .fortable {
    max-width: 760px !important;
  }
  body .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-column;
            flex-direction: flex-column;
  }
  body .first-column-mobile {
    display: block;
  }
  body .first-column {
    display: none;
  }
}
